.calnotes-node {
  stroke: #000;
  stroke-width: 1.5px;
}

.calnotes-link {
  stroke: #999;
  stroke-opacity: .6;
}

.calnotes-label {
  font-family: "Helvetica";
   fill: CadetBlue;

  text-shadow:
      0 0 2px MistyRose;
  font-size: 40px;
  pointer-events:none;
}
